# Removes unnecessary LaTeX stuff
LaTeX/*.aux
LaTeX/*.fdb_latexmk
LaTeX/*.fls
LaTeX/*.log
LaTeX/*.synctex.gz
LaTeX/*.out
LaTeX/*-blx.bib
LaTeX/*.bbl
LaTeX/*.blg
LaTeX/*.run.xml
LaTeX/*.xdv

# Removes local IDE project preferences
*.idea
*.settings
*.project
*.vscode
*.iml
